#pu-left-content{
    position: relative;
    width:30%;
    height: 60vh;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    float: left;
    color: rgba(51, 51, 51, 0.7);
}
#pu-button{
    width: 10%;
    position: relative;
    float: left;
    height: 60vh;
}
#pu-right-content{
    position: relative;
    width: 60%;
    height:60vh;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    float: left;
    color: rgba(51, 51, 51, 0.7);
}
#pu-bt-add{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #C4C4C4;
    color: #7B7B7B;
    font-weight: bold;
    border: none;
    width: 90%;
    padding: 5% 0%;
    top:40%;
}
#pu-bt-add:hover{
    background: #2BA92E;;
    color:#ffffff;
}
.pu-content-header{
    height: 7vh;
    padding: 1vh 1vw;
    border-bottom: 1px solid #C4C4C4;
    font-weight: bold;   
}
.pu-content-body{
    position: relative;
    padding: 1vh 1vw;
    font-size: 14px;
    height: 50vh;
    overflow: auto;
    overflow-x:hidden;
}
.pu-content-body table{
    width: 100%;
}
.pu-content-body th{
    height: 5vh;
}
.cl-tick{
    width:5%;
}
.cl-cur-imgs{
    width: 15%;
    text-align: left;
}
.cl-pro{
    width: 30%;
    text-align:left;
}
.cl-new-imgs{
    width: 50%;
    text-align:left;
}

.product-row{
    height:15vh;
    border-top: 1px solid #C4CDD5;
    border-collapse: collapse;
    color: #7B7B7B;
    font-size:12px;
}
.product-row img{
    border: 1px solid #C4CDD5;
}
.list-new-imgs{
    height: 12vh;
    overflow: auto;
    overflow-x: hidden;
}
.list-new-imgs img{
    margin:0% 1% 1% 0;
    height: 80%;
}

.pu-img-container{
    width: 30%;
    text-align: center;
    display: inline-block;
    margin-right: 3%;
}
.pu-img-item{
    width: 100%; 
    max-height: 10vw;
    border: 1px solid #C4CDD5;
}