#gallery-content{
    width:95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:1vh;
    font-size: 1.3vw;
}

.up-img{
    float:right;
    color: #007BFF;
    width:20%;
    text-align: right;
}
.up-img:hover{
    cursor: pointer;
}
.gallery-table{
    height: 70vh;
    margin-top:3vh;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1vh;
    overflow: scroll;
    overflow-x: hidden;
}
.footer-gallery{
    position: relative;
    height: 7vh;
}
.footer-gallery button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0%;
    padding: 0% 3%;
}
.img-item{
    width: 12.5%;
    padding:1% 0%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 0%;
}
#warning-dialog{
    font-size: 1.2vw;
    width: 50%;
    z-index: 1;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
}
#header-wn-dl{
    font-size: 1.5vw;
    border-bottom:1px solid #C4CDD5; 
    color: #333333;
    font-weight: bold;
}
#header-wn-dl p{
    text-align: center;
}
#body-wn-dl{
    padding: 3% 5%;
    border-bottom:1px solid #C4CDD5; 
    text-align: justify;
    color: #000000;
}
#footer-wn-dl{
    padding-top: 2%;
}
#footer-wn-dl button {
    float: right;
    line-height: 6vh;
    padding: 0% 5%;
}
#bt-cancel{
    background: rgba(196, 196, 196, 0.65);
    border-radius: 5px;
    border: none;
    margin-right: 2%;
}
#bt-ok{
    background: #007BFF;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}