.header{
    position: sticky;
    height: 10vh;
    width: 100%;
    z-index: 1;
    top:0%;
    background: #EAEFF3;
}

.header-content{
    height:100%;
}
.header-content .header-logo{
    width: 10%;
    height: 100%;
    background-image: url(../images/logo_nobg.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
}
.header-content .welcome{
    float: left;
    width:75%;
    height: 100%;
    font-size: 1.5vw;
    position: relative;
}
.header-content .wel-text{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #333333;
    width: 100%;
}

.info {
    background-image: url(https://png.pngtree.com/svg/20170920/4ff36bf59e.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    width: 7%;
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-button{
    float:right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
    width:7%;
    border: none;
    background: inherit;
    border-left: 1px solid #C4CDD5;
    border-right: 1px solid #C4CDD5;
}

.help{
    text-align: center;
    font-size: 1.5vh;
}
#help-label{
    color: #7B7B7B;
    font-size: 2.5vh;
}

.setting-menu{
    position: absolute;
    left: 96.5%;
    transform:translateX(-100%) ;
    background: #FFFFFF;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1;
    font-size: 1.3vw;
    padding: 0.5%;
    width: 15%;
}

.setting-menu label{
    color:#333333;
    margin-left: 20%;
}
.setting-menu #user-status label{
    color: #2BA92E;
}
.setting-menu hr{
    margin: 0%;
    margin-bottom: 5%;
}
.setting-menu button{
    border: none;
    background: inherit;
    padding: 0%;
    color: #7B7B7B;
    width: 100%;
    position: relative;
}
.setting-menu button:hover{
    background: #3A5BA0;
    color: #FFFFFF;
}
.setting-menu button i {
    width: 20%;
    vertical-align: middle;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:0%;
}
.setting-menu #setting-item{
    margin-left:20%;
    float: left;
}