.header-content{position: relative;
    height:100%;
}
.header-content .header-logo{
    width: 10%;
    height: 100%;
    background-image: url(../images/logo_nobg.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
}
.header-content .welcome{
    float: left;
    width:50%;
    height: 100%;
    font-size: 1.5vw;
    position: relative;
}
.header-content .wel-text{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #333333;
}

.info {
    background-image: url(https://png.pngtree.com/svg/20170920/4ff36bf59e.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    width: 10%;
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-button{
    float:right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
    width:10%;
    border: none;
    background: inherit;
    border-left: 1px solid #C4CDD5;
    border-right: 1px solid #C4CDD5;
}

.help{
    text-align: center;
    font-size: 1.5vh;
}
#help-label{
    color: #7B7B7B;
    font-size: 2.5vh;
}
