
.first-page .image-background{
  background-image: url(../images/img3.jpg);
  float: left;
  width:65%;height: 115vh;
  background-position: center;
  background-size: cover;
  transition-property: background-image;
  transition-duration: 2s;
}
.first-page .image-background h1{
  margin-top:50vh;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2.5vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-page .image-background h2{
  margin-left: 10%;
  margin-right: 5%;
  font-size: 1.8vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#hint{
  color:#0084FF;
  background-color: inherit;
  border:none;
}

.info-popup{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}
.info-popup .popup-title{
  border-bottom:  #C4CDD5 solid 2px;
}
.info-popup p{
  font-size: 2vw;
  color:#333333;
  margin-left: 5%;
}
.logo-popup{
  float: left;
  width: 30%;
}
.logo-popup img{
  margin-top:28%;
  width: 100%;
  height:auto;
  
}
.popup-content{
  margin:2% 0%;
}
.contact-popup{
  width:70%;
  margin-top: 6%;
  float: left;
}
.contact-item{
  margin-bottom:8%;
  font-size:1.5vw;
}
.font-icon i{
  width: 5%;
  margin-right: 2%;
  text-align: center;
}


.first-page .form-container{
  width: 35%;
  padding: 0% 2%;
  float: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #FFFFFF;
  color: #333333;
}

.row label{
  width: 50%;
  border-bottom: #DDDDDD solid 2px;
  text-align: center;
  vertical-align: center;
  font-size: 2.5vw;
  font-family: inherit;
  line-height: 10vh;
}

.form label{
  font-size: 2.15vw;
  width: 90%;
  margin-bottom: 0%;
}
.form .input{
  margin: 3vh 0%;
}
.form input{
  font-size: 1.6vw;
  width: 100%;
  min-width: 100px;
  padding: 1vh;
  border: #C4CDD5 solid 1px;
  border-radius:5px;
  box-sizing: border-box;
}
.error{
  color:red;
  font-size: 0.9vw;
}
.form button{
  border: none;
  margin: 3% 0%;
  width: 40%;
  padding: 2%;
  border-radius: 5px;
}
.form .submit{
  background-color :#0084FF;
  color: white;
  font-size: 1.5vw;
}
.forget-pass{
  float:right;
  clear: both;
  color:#0084FF;
  background-color: inherit;
  font-size: 1.5vw;
}


.forget-pass-form label{
  font-size: 1.4vw;
  margin-bottom: 3vh;
}
.more div{
  font-size:1.5vw;
  text-align: center;
  color: #7B7B7B;
}
.more button{
  margin-top:2%;
  width: 50%;
  margin-left: 25%;
  border-radius:5px;
  background-color: #3A5BA0;
}
.more button i{
  float: left;
  margin-left: 3%;
  vertical-align: middle;
  color:#FFFFFF;
}
#face-login{
  margin-left: 2%;
  font-family: inherit;
  font-size: 1.5vw;
  color: #FFFFFF;
}

#reset-form{
  position: relative;
  width:100%;
}
#reset-form form{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  width: 100%;
}
#reset-form form label{
  font-size:1.4vw;
}
#reset-form .input-row{
  width: 100%;
}
.input-row input{
  font-size: 1.4vw;
  width: 100%;
  min-width: 100px;
  padding: 1vh 1vw;
  border: #C4CDD5 solid 1px;
  border-radius:5px;
  box-sizing: border-box;
  margin-top: 3vh;
}
#reset-form button{
  position: absolute;
  background-color :#0084FF;
  color: white;
  font-size: 1.5vw;
  border: none;
  right: 0%;
  margin-top:3vh;
  width: 30%;
  padding: 2%;
  border-radius: 5px;
}
