#left-panel{
    width: 15%;
    background: #263A53;
    position: fixed;
    top:0%;
    left: 0%;
    transition: all 0.5s ease-in-out;
}
#right-panel{
    width: 85%;
    float:right;
    transition: all 0.5s ease-in-out;
}
.body-panel{
    width:100%;
}