#product-overview-content{
    width:95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:3vh;
    font-size: 1.3vw;
}
#select-acc select{
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    width:20%;
    padding: 0.5% 1%;
    color: #7B7B7B;
    background: inherit;
}
.product-table{
    margin-top:2%;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2% 2.5%;
}
.product-tb-content{
    text-align: center;
    width:100%;
}
.search-bar{
    width: 100%;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
}
#bt-filter{
    width:15%;
    background: inherit;
    border: none;
    border-right: 1px solid #C4CDD5;
}
.search-bar i{
    width:5%;
    color: #7B7B7B;
}
.search-bar input{
    width:80%;
    border: none;
    padding: 0.5% 1%;
}
.search-bar input:focus{
    outline: none;
}

.tb-product-content{
    margin-top:2%;
    width: 100%;
}
.tb-product-content table{
    width: 100%;
}
#bulk-action{
    width: 3%;
    font-weight: normal;
    color: #7B7B7B;
}
#checkbox-icon{
    width: 100%;
    height: 5vh;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    border-collapse: collapse;  
    position: relative;
}
#checkbox-icon input{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0%;
}
#checkbox-row{
    width: 40%;
    position: relative;
    height: 5vh;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    border-collapse: collapse;
}
#checkbox-row input{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 7%;
    left: 0%;
    text-align: left;
}
#checkbox-row span{
    position: absolute;
    left:7%;
    border-right: 1px solid #C4CDD5;
    box-sizing: border-box;  
    padding: 0% 2%;
    top:50%;
    transform: translateY(-50%);
}
#checkbox-row select{
    position: absolute;
    border: 1px solid #C4CDD5;
    outline: none;
    right: 0%;
    top:50%;
    transform: translateY(-50%);
    color: #7B7B7B;
    line-height: 5vh;
    height: 5vh;
}

#column-sku{
    width: 15%;
    text-align: left;
}
#column-product-img{
    width:25%;
    text-align: left;
}
#column-product-name{
    width:20%;
    text-align: left;
}
#column-shopee-status{
    width:20%;
}
#column-update-status{
    width:17%;
}

.column-checkbox{
    width: 3%;;
}
.column-sku{
    width: 15%;
    text-align: left;
}
.column-product-img{
    width:25%;
    text-align: left;
    position: relative;
}.column-product-name{
    color: #0084FF;
    width:20%;
    text-align: left;
}
.column-shopee-status{
    width:20%;
}
.column-update-status{
    color:#2BA92E;
    width:17%;
}

.footer-align{
    height:5vh;
}

.alt-img{
    vertical-align: top;background: red;
    width:20%;
}
.imgs-text{
    vertical-align: bottom;
    position: absolute;
    left: 32%;
    bottom: 15%;
}