.table-sh{
    width:94%;
    margin: 2vh 3% ;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    font-size: 1.3vw;
    
}
.table-sh table{
    width:95%;
    margin: 0 auto;
    border-collapse: collapse;
}
table th{
    height:10vh;
    text-align: center;
}
.data-row{
    height:15vh;
    border-top: 1px solid #C4CDD5;
    border-collapse: collapse;
    color: #7B7B7B;
    font-size:1.2vw;
}

.column-shopname{
    width:25%;
    text-align: left;  
}
.column-linkshop{
    width: 35%;
    text-align: left;
}
.column-date{
    width:25%;
    text-align: left;  
}
.column-status{
    width: 12%;
    text-align: center;
}

.link-shop{
    color: #007BFF;
}
.link-shop:hover .shop-name:hover{
    cursor: pointer;color: red;
}
.shop-name .shop-avatar {
    background: red;
}
.connect-date{
    text-align: left;
}
.active-status{
    color : #55C54D;
}
.deactive-status{
    color: #EB3838;
}
.data-row #data-num{
    text-align: center;
}