.table-sh{
    width:94%;
    margin: 3% ;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    font-size: 1.3vw;
    
}
.table-sh table{
    width:95%;
    margin: 0 auto;
    border-collapse: collapse;
}
table th{
    height:10vh;
    border-bottom: 1px solid #C4CDD5;
    text-align: center;
}
.data-row{
    height:15vh;
    border-top: 1px solid #C4CDD5;
    border-collapse: collapse;
    color: #7B7B7B;
    font-size:1.2vw;
}

.column-shopname{
    width:20%;
    text-align: left;
    
}
.column-linkshop{
    width: 40%;
    text-align: left;
}
.column-date{
    width:20%;
   
}
.column-status{
    width: 20%;
}
.column-ordernum{
    width:10%;
}
.column-productnum{
    width:10%;
}

.link-shop{
    color: #007BFF;
}
.link-shop:hover .shop-name:hover{
    cursor: pointer;color: red;
}
.connect-date{
    text-align: center;
}
.active-status{
    text-align: center;
}
.data-row #data-num{
    text-align: center;
}